$bg_ok: #50B387;
$bg_ok_dimmed: #4B7361;
$bg_alarm: #A31420;
$bg_acked_crit: #660606;
$bg_warn: #FFD730;
//$bg_warn: #C2D414;
$bg_acked_warn: #D4A526;

.widget-op5servicesack {
  background: $bg_ok;
  font-size: 25px;
  /* font-weight: bold; */
  #uschdiv:after {
    color: $bg_ok_dimmed;
    content: "\f164";
    opacity: 0.3;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    top: 15%;
    right: 15%;
    margin: -3px 0 0 3px;
    z-index: 1;
  }
}
.sallacked_crit {
  background: $bg_acked_crit;
  #uschdiv:after {
    color: $bg_acked_warn;
    content: "\f046";
    opacity: 0.3;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 220px;
    top: 10%;
    right: 10%;
    margin: -3px 0 0 3px;
    z-index: 1;
  }

}

.sallacked_warn {
  background: $bg_acked_warn;
  #uschdiv:after {
    color: $bg_acked_crit;
    content: "\f046";
    opacity: 0.25;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 220px;
    top: 10%;
    left: 10%;
    margin: -3px 0 0 3px;
    z-index: 1;
  }

}
.sunackedcrit {
  background: $bg_alarm;
  #uschdiv:after {
    color: $bg_warn;
    content: "\f096";
    opacity: 0.25;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 220px;
    top: 20%;
    left: 20%;
    margin: -30px 0 0 -20px;
    z-index: 1;
  }
}
.sunackedwarn{
  background: $bg_warn;
  #uschdiv:after {
    color: $bg_alarm;
    content: "\f096";
    opacity: 0.1;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 220px;
    top: 20%;
    left: 20%;
    margin: -30px 0 0 -20px;
    z-index: 1;
  }
}
